<section>
    <div class="banner-text">
      <h1 class="banner-p1">REUN KRA JOK</h1>
      <p class="banner-p3">เราใส่ใจทุกการเจริบเติบโต ส่งตรงถึงคุณด้วยความรัก</p>
    </div>
</section>
<div class="container-fluid mt-5 mb-5">
    <div class="row mb-3">
        <div class="col  d-flex justify-content-center align-items-center">
            <h2 style="color:#1B2C35;"><b>WELCOME TO REUN KRA JOK</b></h2>
        </div>
    </div>
    <div class="row">
        <div class="col  d-flex justify-content-center align-items-center">
            <p style="color: #8EA497; width: 1000px;  text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore repellat sequi odit. Sapiente distinctio mollitia tempore praesentium eveniet. Debitis iusto eius adipisci exercitationem, provident dignissimos error eos nostrum non nemo. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam, repudiandae! Nihil exercitationem distinctio sint? Laboriosam optio sed error debitis, ut reiciendis ea asperiores nam velit possimus laborum nesciunt sequi animi! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, soluta veritatis, voluptate recusandae, incidunt reprehenderit consequatur dicta hic officia iste libero. Veniam totam adipisci dolorum, quidem quos eveniet. Similique, voluptatum?</p>
        </div>
    </div>
</div>
<div class="container-fluid mt-5 d-flex justify-content-center align-items-center">
 <div class="row mb-4">
        <div class="col d-flex justify-content-center align-items-center">
            <h1 style="color:#1B2C35;"><b>Our Category</b></h1>
        </div>
    </div> 
</div>
<div class="baner  mb-4">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="row" style="background-color: #D8E2E4; border-radius: 10px; height: 390px; width: 1000px;">
                <div class="col-md-8">
                    <img src="./assets/img/in.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-4 text-end d-flex justify-content-end  align-items-center">
                    <div class="text" style="margin-right: 60px;">
                        <h1 style="font-size: 80px; color: #fff;"><b>Indoor</b></h1>
                        <h1 style="font-size: 70px; color: #fff;"><b>Plant</b></h1>
                        <h3 style="font-size: 40px;color: #fff;">ต้นไม้ภายใน</h3>
                        <a routerLink="/indoorplant" class="btn mt-2">VIEW MORE</a>
                    </div>
                    
                </div>
            </div>
        </div>
</div>
<div class="baner mb-4">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row" style="background-color: #FAF1EC; border-radius: 10px; height: 390px; width: 1000px;">
            <div class="col-md-8 d-flex justify-content-strat  align-items-center">
                  <div class="text" style="margin-left: 50px;">
                    <h1 style="font-size: 80px; color: #A8A29F;"><b>Outdoor</b></h1>
                    <h1 style="font-size: 70px; color: #A8A29F;"><b>Plant</b></h1>
                    <h3 style="font-size: 40px;color: #A8A29F;">ต้นไม้ภายใน</h3>
                    <a routerLink="/outdoorplant" class="btn mt-2">VIEW MORE</a>
                </div>
            </div>
            <div class="col-md-4">
                <img src="./assets/img/out.png" class="img-fluid rounded-start" alt="...">

            </div>
        </div>
    </div>
</div>
<div class="baner mb-4">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row" style="background-color: #D8E2E4; border-radius: 10px; height: 390px; width: 1000px;">
            <div class="col">
                <img src="./assets/img/all1.png" class="img-fluid" style="width: 60%;" alt="...">
            </div>
            <div class="col text-center d-flex justify-content-end  align-items-center">
                <div class="text" style="margin-right: 60px;">
                    <h1 style="font-size: 80px; color: #fff;"><b>All</b></h1>
                    <h1 style="font-size: 70px; color: #fff;"><b>Plant</b></h1>
                    <h3 style="font-size: 40px;color: #fff;">ต้นไม้ภายใน</h3>
                    <a routerLink="/allplant" class="btn mt-2">VIEW MORE</a>
                </div>
                
            </div>
            <div class="col">
                <img src="./assets/img/all2.png" class="img-fluid rounded-start" alt="...">
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

