<footer>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-6" style="margin-top: 40px;">
                <h2 style="margin-bottom: 30px; margin-left: 230px;">Contact Us </h2>
                <div class="contect">
                    <div class="tel">
                        <img src="./assets/img/tel-icon.png" alt="" style="width: 50px;height: 50px;  margin-left: 45px;">
                        <p style="margin-top: 10px; margin-left: 30px;">096-897-4115</p>
                    </div>
                    <div class="line">
                        <img src="./assets/img/line-Icon.png" alt="" style="width: 50px;height: 50px;  margin-left: 70px;">
                        <p style="margin-top: 10px; margin-left: 30px;">@REUN_KRA_JOK</p>
                    </div>
                    <div class="mail">
                        <img src="./assets/img/mail-icon.png" alt="" style="width: 50px;height: 50px;  margin-left: 95px;">
                        <p style="margin-top: 10px; margin-left: 30px;">ReunKraJok@gmail.com</p>
                    </div>

                </div>
            </div>
            <div class="col-md-6" style="margin-top: 40px;">
                <h2 style="margin-bottom: 30px; margin-left: 233px;">เเจ้งชำระเงิน</h2>
                <div class="bank">
                    <div class="kb">
                        <img src="./assets/img/scb-bank-icon.png" alt="" style="width: 50px;height: 50px;">
                        <p style="margin-top: 10px;">Kbank</p>
                    </div>
                    <div class="scb">
                        <img src="./assets/img/kbank-icon.png" alt="" style="width: 50px;height: 50px;">
                        <p style="margin-top: 10px; margin-left: 10px;">SCB</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</footer>
